h1 {
  text-align: center;
}

#main {
  text-align: center;
}

#cueButton {
  font-size: 1em;
  height: 2em;
  width: 10em;
}

p.dynamicCue {
  font-size: 2em;
  font-weight: bold;
}

p.staticCue {
  font-size: 1em;
}
